body {
    background-color: #f5f7fa;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4a4e69;
    color: white;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
/* Home 버튼, '설문조사 시스템' 등 페이지 상단 UI */

.site-nav li {
    display: inline;
    background: none;
    box-shadow: #4a4e69;
}
/* Home 버튼 UI */

main {
    padding: 20px;
    text-align: center;
}

h2 {
    color: #333333;
    font-size: 28px;
    margin-bottom: 20px;
}

/* 질문 리스트 중앙 정렬 */
ul {
    list-style:none;
    padding: 0;
    margin: 0 auto;
    max-width: 500px;
    /* 리스트 테두리 가로 길이 */
}

li {
    background-color: rgb(171, 218, 160);
    /* 버튼 배경 색(기본) */
    border-radius: 100px;
    /* 항목 별 각 형태(수치 높을수록 둥그스름해짐) */
    margin-bottom: 12px;
    /* 버튼 사이사이 간격 */
    padding: 15px 20px;
    /* 버튼(위아래 폭 조절, ???) */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    /* 버튼 테두리 색 */
    transition: background-color 0.2s ease;
}


li:hover {
    background-color: #f0f4f8;
}
/* 버튼에 마우스 올려놓을 때 바뀌는거 */

a {
    text-decoration: none;
    font-size: 18px;
    color: #1d3557;
}  

footer {
    margin-top: 50px;
    padding: 20px;
    background-color: #f1f1f1;
    text-align: center;
    font-size: 14px;
    color: #666;
}
 
footer a {
    color: #1e1c2b;
    text-decoration: none;
    font-size: 14px;
}

/*우선순위를 위해서*/
.site-header {
    width: 100%;
    position: relative;
    text-align: center;
} 

.site-title {
    margin: 0;
    font-size: 24px;
}

.site-nav {
    position: absolute;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);
}

.site-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-nav li:hover {
    background: none;
}

.site-nav li:hover a {
    color: #b8bee6;
}

.site-nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}